@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  margin: 0;
  padding: 0;
}


.custom-italic {
  font-style: italic !important;
}


.nav-link {
  position: relative;
  font-size: 1rem;
  font-weight: 6400;
  color: #1f2937; 
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  padding-bottom: 5px; 
}

.nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #2563eb; 
  transition: width 0.3s ease-in-out;
}

.nav-link:hover {
  color: #2563eb; 
}

.nav-link:hover::before {
  width: 100%;
}


.loading-container {
  width: 100vw;
  height: 100vh; /* pełna wysokość okna */
  display: flex;
  flex-direction: column;
  justify-content: center; /* centruje w pionie */
  align-items: center;     /* centruje w poziomie */
  gap: 10px;
  padding: 20px 0;
  box-sizing: border-box;
  background-color: #f9f9f9; /* opcjonalnie: jasne tło */
}

.loading-bar {
  width: 15%;
  height: 6px;
  background-color: #e0e0e0;
  border-radius: 3px;
  overflow: hidden;
}

.loading-progress {
  height: 100%;
  width: 0;
  background-color: #4285f4;
  border-radius: 3px;
  animation: loadingAnimation 1.5s ease-in-out infinite;
}

.loading-text {
  color: #555;
  font-size: 14px;
}

@keyframes loadingAnimation {
  0% {
    width: 0;
    margin-left: 0;
  }
  50% {
    width: 100%;
    margin-left: 0;
  }
  100% {
    width: 0;
    margin-left: 100%;
  }
}


.break-words {
  word-wrap: break-word;
  overflow-wrap: break-word;
}